@import '../../base/styles/variables';

.login-form {
  width: 100%;
  margin-bottom: 16px;
  min-height: 350px;

  &__title {
    margin-bottom: 40px;
  }

  &__input {
    margin-bottom: 16px;
  }
}
