.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__label {
    font-size: 9px;
    line-height: 9px;
    color: $text-secondary-color;
  }
  &__component {
    outline: none;
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid $primary-color;
    color: $text-color;
    font-size: 13px;
    line-height: 13px;
  }
  &__error {
    margin-top: 8px;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: $error;
  }
}
