@import '../../base/styles/variables';

.input {
  outline: none;
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid $primary-color;
  color: $text-color;
  font-size: 13px;
  line-height: 13px;
}
