@import '../../base/styles/variables';

.login-screen {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    width: 100%;
    max-width: 340px;
    padding: 50px 30px 18px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
