@import '../../base/styles/variables';

.controlled-input {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__label {
    font-size: 9px;
    line-height: 9px;
    color: $text-secondary-color;
  }
}
