$bg-color: #ffffff;
$text-color: #1e1e1e;
$text-secondary-color: #999999;
$primary-color: #3369f3;
$secondary-color: #fff;
$error: #ff2f2f;
$back-bg: #fbfbfb;
$border: #eaeaea;

$font-size: 12px;
$line-height: 15px;
$font-weight: 500;
