@import 'base/styles/variables';

.chat-messages {
  &__wrapper {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 112px);
    overflow-y: auto;
  }
  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 0;

  &__item {
    max-width: 45%;
    margin-bottom: 30px;
    display: inline-block;
  }

  &__time {
    align-self: center;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $text-secondary-color;
  }

  &__message {
    background: #f8f8f8;
    padding: 11px;
    border-radius: 12px;
    position: relative;

    &-time {
      position: absolute;
      right: 5px;
      bottom: 2px;
      font-weight: 500;
      font-size: 9px;
      line-height: 9px;
      color: $text-secondary-color;
    }

    &_my {
      background: #e4edfd;
      align-self: flex-end;

      & .chat-messages__message-time {
        color: $primary-color;
      }
    }

    &-attachment {
      background-color: transparent;
      border: 1px solid #eaeaea;

      & .chat-messages__message-time {
        background-color: rgb(82 82 82 / 50%);
        border-radius: 30px;
        color: $secondary-color;
        right: 11px;
        bottom: 11px;
        padding: 2px 7px;
      }
    }
  }
}