{{#>login-layout}}
  <div class='registration-form'>
    {{> title text="Регистрация" titleClassName="registration-form__title"}}
    <div class='registration-form__input'>
      {{> input label="Почта" id="email" name="email" type="email" placeholder='Email' }}
    </div>
    <div class='registration-form__input'>
      {{> input label="Логин" id="login" name="login" placeholder='Логин' }}
    </div>
    <div class='registration-form__input'>
      {{> input label="Имя" id="first_name" name="first_name" placeholder='Имя' }}
    </div>
    <div class='registration-form__input'>
      {{> input label="Фамилия" id="second_name" name="second_name" placeholder='Фамилия' }}
    </div>
    <div class='registration-form__input'>
      {{> input label="Телефон" id="phone" name="phone" placeholder='Телефон' }}
    </div>
    <div class='registration-form__input'>
      {{> input label="Пароль" type="password" id="password" name="password" placeholder='Пароль' }}
    </div>
    {{> input label="Пароль (ещё раз)" type="password" id="password" name="password" placeholder="Пароль (ещё раз)" }}
  </div>
  <div>
    {{> button text="Зарегистрироваться" }}
    {{> button secondary=true text="Войти?" }}
  </div>
{{/login-layout}}