@import 'base/styles/variables';

.avatar-upload {
  $selector: &;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background: #efefef;
  border-radius: 50%;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;

  &__text {
    background: #000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: all 0.2s;
    opacity: 0;
    color: $secondary-color;
    border-radius: 50%;
    font-size: 13px;
    line-height: 14px;
  }

  & svg {
    width: 40px;
  }

  &:hover {
    & #{$selector}__text {
      opacity: 0.5;
    }
  }
}
