@import 'base/styles/variables';

.chat-list {
  border-top: 1px solid $border;
  overflow-y: auto;
  overflow-x: hidden;

  &__item {
    border-bottom: 1px solid $border;
    display: flex;
    padding: 12px 0;

    &-name {
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
      margin-bottom: 4px;
    }
  }
}
