@import 'styles/variables';

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $bg-color;
  color: $text-color;

  font-family: Inter, Roboto, sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

label {
  cursor: pointer;
}
